{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block head %}

{% endblock %}

{% block content %}

<h1>Accueil</h1>

<a href="genre">genres</a>
<a href="acteur">acteurs</a>
<a href="formMovie">Ajouter un film</a>

{% endblock %}