{% extends "base.html.twig" %}

{% block title %}addMovie{% endblock %}

{% block head %}

{% endblock %}

{% block content %}

<form action="addMovie" method="POST">

    <label for="title">Titre</label>
    <input type="text" name="title"></br>

    <label for="description">Description</label>
    <input type="text" name="description"></br>
    
    <label for="duration">Durée</label>
    <input type="text" name="duration"></br>

    <label for="date">Date de sortie</label>
    <input type="date" name="date"></br>

    <label for="cover_image">URL pour l'affiche du site</label>
    <input type="text" name="cover_image"></br>

    <label for="genre_id">Genre</label>
    <select name="genre_id">
    {% for genre in genres %}
    <option value="{{genre.id}}">{{genre.name}}</option>
    {% endfor %}
    </select></br>

    <label for="director_id">Directeur</label>
    <select name="director_id">
    {% for director in directors %}
    <option value="{{director.id}}">{{director.lastName}}</option>
    {% endfor %}
    </select></br>

    <input type="submit" value="enregistrer">
</form>

{% endblock %}